/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
  }
  
  /* Header styles */
  header {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  .portfolio-image {
    width: 150px; /* Adjust the width as needed */
    height: 175px; /* Adjust the height as needed */
    display: block;
    margin: 0 auto; /* This will horizontally center the image */
}
  
  h1 {
    font-size: 2em;
  }
  
  /* Navigation styles */
  nav {
    margin-top: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #555;
    margin-right: 15px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #ddd;
    color: #333;
  }
  
  nav a.active {
    background-color: #ff6600;
    color: #fff;
  }
  
  /* Hero banner styles */
  .hero-banner {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #260adb8e;
    text-align: center;
  }
  
  .hero-banner h2 {
    font-size: 2.5em;
  }
  
  /* Main section styles */
  .page-wrapper {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
  }
  
  /* About section styles */
  #about {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #about p {
    font-size: 1.2em;
    line-height: 1.8;
    color: #555;
  }
  
  /* Work section styles */
  #work {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-item {
    flex: 1;
    margin: 15px;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .flex-item:hover {
    transform: scale(1.05);
  }
  .image-link {
    height: 185px;
    width: 250px;
  }
  .contact {
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  address {
    font-style: normal;
    font-size: 1.2em;
    color: #333;
  }
  
  address a {
    color: #007BFF;
    text-decoration: none;
    margin-right: 15px;
  }
  
  address a:hover {
    text-decoration: underline;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .hero-banner {
      height: 200px;
    }
  
  }
  